{% extends 'base.html' %}
{% load static %}
{% block title %}Confirm Delete{% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="container shadow mt-5 p-5">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h2 class="pt-2">Confirm Delete</h2>
      <p class="fst-italic">Logged in as: {{ user.username }}</p>
        <p>Are you sure you want to delete your booking?</p>
        <form method="post">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="btn btn-danger text-white">Delete</button>
          <a href="{% url 'booking_list' %}" class="btn btn-outline-dark mt-2">Cancel</a>
        </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

