{% extends 'base.html' %}
{% load static %}
{% block title %}Los Platos Chilenos{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

{% if not user.is_authenticated %}
<!--- CTA --->
<div class="bg bg-secondary pt-5 pb-5">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-1 dark-text-body-emphasis lh-1 mb-5 cta-text">Curious about Chilean food culture?</h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-primary btn-lg px-5 py-3 me-md-2" href="{% url 'account_signup' %}">Book a Table</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--- End CTA -->
{% endif %}




<section class="container" style="margin-block:150px;" id="about">
  <hr class="my-5">
  <div class="row text-center ">

    <div class="col-lg-8 mx-auto mt-3">
      <h1 class="display-4 pb-3 py-4">The Restaurant</h1>
      <p class="lead">Welcome to our Chilean restaurant, influenced by the South American cuisine. As a guest at
        one of our tables, you enjoy good, well-prepared Chilean food in an inviting environment that radiates
        warmth, joy and community. Perhaps you've already experienced our chef Eduardo's magical dishes on a previous visit and know what an
        explosion of flavors you can expect. But for you as a new guest who wonders what is so special about us - visit
        us and the answer will be yours.</p>
        <p class="lead">Warm welcome!</p>
      </p>
    </div>
  </div>
  <!----- Restaurant Features -->
  <div class="container px-4 py-5" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover card-overlay-bottom h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('{% static 'images/rest_interior.jpg' %}');">
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
          </div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-light">Inviting Atmosphere</h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover card-overlay-bottom h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('{% static 'images/ingredients.jpg' %}');">
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
          </div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-light">Quality Ingredients</h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover card-overlay-bottom h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('{% static 'images/masterchef.jpg' %}');">
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
          </div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-light">Masterchef Eduardo</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4">

</section>

<section id="menu">
  <div class="text-center py-5 mb-4">
    <div class="container">
      <h1 class="display-4 pb-3">Menu</h1>
      <p class="lead">Experience classic Chilean dishes from north to south of Chile. From classic favorites like empanadas to delicious seafood soups.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Dish 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'images/chorillana.jpg' %}" class="card-img-top" alt="Image of Chorillana dish">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Chorillana</h5>
            <div class="card-text text-black-50">French fries, finely cut onion, spicy sausage, beefsteak and, crowning
              it all, one or two fried eggs.</div>
          </div>
        </div>
      </div>
      <!-- Dish 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'images/pastel_de_choclo.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Pastel de Choclo</h5>
            <div class="card-text text-black-50">French fries, finely cut onion, spicy sausage, beefsteak and, crowning
              it all, one or two fried eggs</div>
          </div>
        </div>
      </div>
      <!-- Dish 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'images/empanada_plate.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Plato de Empanadas</h5>
            <div class="card-text text-black-50">Plate with empanadas. Popular pastry filled with diced meat/chicken,
              hard-boiled egg and raisins/olives.
            </div>
          </div>
        </div>
      </div>
      <!-- Dish 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'images/chorillana.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Sopa de Mariscos</h5>
            <div class="card-text text-black-50">Delicious seafood soup made of hake, mussels, onion and garlic with
              bread slices and parsley on top.</div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <hr class="my-5">
</section>


  
{% endblock content %}
